@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

html {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

body {
  text-align: center;
}

p {
  text-align: left;
}

/* Header */
header {
  background-image: url(../images/header.jpg);
  height: 100vh;
}

header img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

header h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2vmin;
  text-align: center;
}

.navbar {
  justify-content: center;
  color: #10559A;
}

.header-flex {
  display: flex;
  flex-direction: column;
  flex-basis: wrap;
  width: auto;
}

nav {
  position: absolute;
  right: 100px;
  top: 100px;
  min-width: auto;
}

ul {
  width: 100%;
}

.navbar {
  word-spacing: 30px;
}

a:hover {
  text-decoration: none;
}

nav ul li {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  display: inline;
  color: #10559A;
}

.fa-chevron-circle-down {
  position: absolute;
  display: block;
  margin: 0 auto 0 auto;
  font-size: 3.75rem;
  color: white;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* About */
.about {
  height: auto;
  background-color: #E3E8EA;
}

.about img {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  height: 530px;
}

.about h2 {
  text-transform: uppercase;
  font-size: 4.5rem;
  padding-top: 3%;
  text-align: center;
}

.about p {
  font-size: 1vw;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  padding: 2% 10% 0.5% 10%;
  margin: 0 auto 30px auto;
}

.bottom-line p {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* Services */
.services {
  height: auto;
}

.services--cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.services--cards-card {
  width: 300px;
}

.services h2 {
  text-transform: uppercase;
  padding-top: 3%;
  text-align: center;
  font-size: 4.5rem;
}

.services h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

.services p {
  font-size: 1vw;
  margin: 0 5% 0 5%;
}

.services--cards-card p {
  padding: 10px;
  margin-bottom: 24px;
}

p.bottom-text {
  margin-bottom: 20px;
}

.services img {
  height: 530px;
}

.fa-pound-sign, .fa-tasks, .fa-ruler-combined {
  font-size: 2.5rem;
}

/* Contact */
.contact {
  background-color: #E3E8EA;
  height: auto;
}

.contact h2 {
  text-transform: uppercase;
  padding-top: 3%;
  font-size: 4.5rem;
}

.contact h3 {
  font-size: 1.115rem;
  padding: 0 40px;
}

form {
  margin: 0 auto;
  width: 50%;
}

#submit {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  nav {
    top: 30%;
    left: 50vw;
    right: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
    width: 100%;
  }

  .about p, .services p {
    font-size: 1rem;
  }

  nav ul li {
    word-spacing: 10px;
    font-size: 1.25rem;
    color: white;
  }

  form {
    padding: 10px;
    width: 100%;
  }

  .about h2, .services h2, .contact h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  nav {
    width: 100%;
    display: inline-block;
  }

  .about p, .services p {
    font-size: 1rem;
  }

  nav ul li {
    color: white;
  }
}