@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

html {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

/* Header */
header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
}

header h1, h2 {
  font-family: 'Oswald', sans-serif;
}

header img {
  margin-right: 7%;
  margin-top: 5%;
  width: 185px;
}

header h2 {
  font-size: 1.25rem;
  margin-right: 3%;
}

.header-flex {
  display: flex;
  flex-direction: column;
  flex-basis: wrap;
  width: auto;
}

.header-flex--item {
  text-align: right;
}

nav {
  position: absolute;
  right: 45px;
  padding-top: 10px;
  letter-spacing: 1.25px;
}

.navbar {
  text-align: center;
}

nav ul {
  margin-top: 0.5%;
}

nav ul li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  display: inline;
  margin-right: 2%;
  margin-top: 2%;
}

.fa-chevron-circle-down {
  position: absolute;
  display: block;
  margin: 0 auto;
  font-size: 3.5rem;
  color: white;
  top: 90%;
  left: 50%;
  transform: translateX(-50%, -50%);
}

/* About */
.about {
  height: auto;
  background-color: #E3E8EA;
}

.about img {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  height: 530px;
}

.about h2 {
  text-transform: uppercase;
  font-size: 4.5rem;
  padding-top: 3%;
  text-align: center;
}

.about p {
  font-size: 1.115rem;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  padding: 2% 10% 0.5% 10%;
}

/* Services */
.services {
  height: auto;
}

.services h2 {
  text-transform: uppercase;
  padding-top: 3%;
  text-align: center;
  font-size: 4.5rem;
}

.services h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  padding: 2% 10% 1.25% 10%;
}

.services p {
  margin: 0 5% 0 5%;
  padding: 15px;
}

p.bottom-text {
  margin-bottom: 20px;
}

.services img {
  height: 530px;
}

.fa-pound-sign, .fa-tasks, .fa-ruler-combined {
  font-size: 2.5rem;
}

/* Contact */
.contact {
  background-image: url(../images/architecture.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.contact h2 {
  font-size: 4.5rem;
}

/* Media Queries */
@media only screen and (max-width: 1240px) {
  header img {
    margin-top: 2%;
  }
}