@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

html {
  font-size: 16px;
}

header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
}

header h1, h2 {
  font-family: 'Oswald', sans-serif;
}

header h1 {
  margin-top: 5%;
  margin-right: 10%;
  font-size: 4.5rem;
  font-weight: 600;
}

header h2 {
  font-size: 1.25rem;
  margin-right: 4%;
}

.header-flex {
  display: flex;
  flex-direction: column;
  flex-basis: wrap;
}

.header-flex--item {
  text-align: right;
}

nav {
  margin-right: 1%;
}

nav ul {
  margin-top: 0.5%;
}

nav ul li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  display: inline;
  margin-right: 2%;
  margin-top: 2%;
}

.fa-chevron-circle-down {
  position: absolute;
  display: block;
  margin: 0 auto;
  font-size: 3.5rem;
  color: white;
  top: 90%;
  left: 50%;
  transform: translateX(-50%, -50%);
}