@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

html {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

body {
  text-align: center;
}

/* Header */
header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
}

header h1, h2 {
  font-family: 'Oswald', sans-serif;
}

header img {
  display: block;
  width: 185px;
  margin: 0 auto;
}

header h2 {
  font-size: 2vmin;
  text-align: center;
}

.navbar {
  justify-content: center;
  color: #10559A;
}

.header-flex {
  display: flex;
  flex-direction: column;
  flex-basis: wrap;
  width: auto;
}

nav {
  position: absolute;
  right: 100px;
  top: 100px;
  min-width: 500px;
}

nav a {
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

nav ul li {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  display: inline;
  margin-right: 2%;
  margin-top: 2%;
  color: #10559A;
}

.fa-chevron-circle-down {
  position: absolute;
  display: block;
  margin: 0 auto;
  font-size: 3.5rem;
  color: white;
  top: 90%;
  left: 50%;
  transform: translateX(-50%, -50%);
}

/* About */
.about {
  height: auto;
  background-color: #E3E8EA;
}

.about img {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  height: 530px;
}

.about h2 {
  text-transform: uppercase;
  font-size: 4.5rem;
  padding-top: 3%;
  text-align: center;
}

.about p {
  font-size: 1vw;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  padding: 2% 10% 0.5% 10%;
}

/* Services */
.services {
  height: auto;
}

.services--cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services--cards-card {
  width: 300px;
}

.services h2 {
  text-transform: uppercase;
  padding-top: 3%;
  text-align: center;
  font-size: 4.5rem;
}

.services h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

.services p {
  font-size: 1vw;
  margin: 0 5% 0 5%;
}

p.bottom-text {
  margin-bottom: 20px;
}

.services img {
  height: 530px;
}

.fa-pound-sign, .fa-tasks, .fa-ruler-combined {
  font-size: 2.5rem;
}

/* Contact */
.contact {
  background-color: #E3E8EA;
  height: auto;
}

.contact h2 {
  text-transform: uppercase;
  padding-top: 3%;
  font-size: 4.5rem;
}

.contact h3 {
  font-size: 1.115rem;
}

form {
  margin: 0 auto;
  width: 50%;
}

#submit {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 1592px) {
  nav {
    top: 10px;
    right: 0;
    min-width: 500px;
  }

  .about p, .services p {
    font-size: 1.115rem;
  }
}

@media only screen and (max-width: 934px) {
  .about p, .services p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .about p, .services p {
    font-size: 1.125rem;
  }
}